<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subdomain Takeover by Flav</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" href="https://raw.githubusercontent.com/FlavSecurity/heroku-node/master/favicon-32x32.png" type="image/png" sizes="32x32">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h2>Proof of Concept for subdomain takeover at rhui.us-east-2.aws.ce.redhat.com by flav.</h1>
		<h3>A report will be sent, and this issue will be hopefully resolved soon!</h2>
		<center><a href="https://www.linkedin.com/in/flaviu-popescu/" class="btn btn-primary btn-lg">Contact</a></center>
	


	</div>
</div>
	
</body>
</html>
